<div class="conteiner py-4 text-white">
  <div class="row text-center">
    <h3>Vino blanco de miel AMELAR</h3>
  </div>
  <div class="row px-5">
    <div class="col px-5">
      <p><Strong>Correo electronico</Strong></p>
      <p>vinoblancoamelar@gmail.com</p>
      <br />
    </div>
    <div class="col px-5">
      <p><strong>Teléfono</strong></p>
      <p>996 - 963- 9694</p>
      <br />
    </div>
    <div class="col px-5">
      <p><Strong>Dirección</Strong></p>
      <p>
        Calle 15 entre 18 y 20, Colonia Alameda, Dzitbalche, Calkiní Campeche.
      </p>
      <br />
    <a href="/aboutus" class="text-white aboutus"><h3>Nosotros</h3></a>
    </div>
  </div>
  <div class="row text-right">
  </div>
</div>
<div class="text-center">@Derechos reservados</div>
