<div class="conteiner py-4 text-white">
    <div class="row px-5">
        <div class="col px-5">
            <h3>Vino blanco de miel Amelar</h3>
            <br>
            <p><Strong>Correo electronico</Strong></p>
            <p>VinodeMielAmelar@gmail.com</p>
            <br>
            <p><strong>Teléfono</strong></p>
            <p>996 - 963- 9694</p>
            <br>
            <p><Strong>Dirección</Strong></p>
            <p>Calle 15 entre 18 y 20, Colonia Alameda, Dzitbalche, Calkiní Campeche.</p>
        </div>
        <div class="col px-5">
        </div>
        <div class="col px-5">
            <h3 >Redes sociales</h3>
            <br>
            <img src="assets/recursos/whatsapp.png" alt="whatssap">
            <br>
            <br>
            <br>
            <img src="assets/recursos/facebook.png" alt="whatssap">
        </div>
    </div>
</div>
