<nav class="navbar navbar-expand-lg background conteiner">
  <div class="text-center row col">
    <div class="row mb-2">
      <a class="navbar-brand mx-auto" href="/home">
        <img
          src="assets/recursos/logo.png"
          alt="Bootstrap"
          width="90"
          height="80"
        />
      </a>
    </div>
    <div class="row text-center">
      <marquee behavior="scroll" direction="left"
        ><h4 class="eslogan">DALE UN SORBO DE AMELAR A TU VIDA</h4></marquee
      >
    </div>
  </div>
</nav>
