<div class="row my-5 mx-5">
    <div class="col-sm my-auto mx-4">
        <img class="icon d-sm-none d-md-block" src="assets/recursos/panal.png" alt="">  
        <h2 class="text-center">Objetivo</h2>
        <p class="texto text-justify">Producir y comercializar un producto artesanal a base de miel con propiedades naturales para la producción de un vino, que acompañaría diversas ocasiones familiares y de amigos.</p>
    </div>
    <div class="col-sm">
        <img src="assets/recursos/objetivo.png" class="imagenOb" alt="">
    </div>
</div>
