<div class="conteiner mx-5">
  <div class="row mt-4">
    <div class="col-md">
      <p class="texto text-justify">
        AMELAR es una organización dedicada a la comercialización de vino de
        miel, el cual le da un giro innovador en comparación a otras empresas
        similares, ofreciendo un producto rico y natural en cuanto a su
        preparación. Amelar se elabora con productos orgánicos, como uno de los
        objetivos sobresalientes en él, al igual que satisfacer las necesidades
        de sus clientes. La empresa cuenta con un equipo de trabajo, los cuales
        asumen con responsabilidad cada tarea que les corresponde, mismas que
        aportan para obtener resultados exitosos, y brindar un servicio de
        calidad, proporcionando a sus clientes productos elaborados con miel de
        abeja melífera, creando sabores novedosos en la zona, con una delicada
        elaboración y de primera calidad en la región.
      </p>
    </div>
    <div class="col-sm justify-content-center d-none d-lg-block">
      <img class="img" src="assets/recursos/producto1.jpeg" alt="personal" />
    </div>
  </div>
  <div class="row mt-5 align-items-start">
    <div class="col-md">
      <img src="assets/recursos/botella.png" alt="" class="icon" />
      <h3 class="text-center">Misión</h3>
      <p class="texto text-justify">
        Somos una empresa dedica a la producción y comercialización de vinos,
        teniendo como base principal la miel de la región, buscamos proporcionar
        a nuestros clientes una bebida sana, orgánica y de calidad.
      </p>
    </div>
    <div class="col-sm">
      <img class="icon" src="assets/recursos/mano.png" alt="" />
      <h3 class="text-center">Visión</h3>
      <p class="texto text-justify">
        Ser una empresa a nivel nacional reconocida y con prestigio presentando
        productos de calidad y un servicio excelente, teniendo como compromiso
        superar las expectativas del consumidor, brindando y garantizando un
        producto de calidad.
      </p>
    </div>
  </div>
</div>
