<div class="conteiner mx-5">
  <div class="row mt-4">
    <div class="col-sm my-auto">
      <h2 class="titulo">Comunícate con nosotros</h2>
      <p class="mt-5">Al numero: <span style="color:#8C6B64">996-163-9694</span></p>
      <p class="my-5">Llamada o whatsapp</p>
    </div>
    <div class="col-sm mx-auto">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d7483.328193911809!2d-90.06201254057!3d20.3141662347834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d20.3138392!2d-90.0594457!5e0!3m2!1ses-419!2smx!4v1670393543438!5m2!1ses-419!2smx"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
